body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background: radial-gradient(rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 1) 65%);
    height: 100svh;
    width: 100svw;
    margin: 0;
    gap: 1px;
}

body > div {
    background-color: white;
}

#clock-section {
    grid-column: 1;
    grid-row: 1;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

#clock-section #textual-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
}

#daily-section {
    grid-column: 1;
    grid-row: 2;
}

#event-section {
    grid-column: 2;
    grid-row: 1 / 3;
}

#hour-hand, #minute-hand, #second-hand {
    transition: transform 0.5s cubic-bezier(0.4, 2.08, 0.55, 0.44);
}

#digital-clock, #weekday, #date {
    margin: 0.2rem 0;
}

.weekday { 
    color: #555; 
    text-transform: capitalize; 
}

.date { 
    color: #888; 
}